<!DOCTYPE html>
<html>
    <head>
        <title>project</title>
        <script src="../static/js/page1.js"></script>
    </head>
    <form action="/uploader" method="POST" enctype = "multipart/form-data">
        <input type = "file" name = 'file'/>
        <input type = "submit"/>
    </form>
    <img src="../static/img/picture.png" style="display:none" id="sketch">    
    <img src="../static/img/some.jpg" style="display:none" id="colour">
    <form action="/col" method="POST">>
        <button onclick=picture()>colourize</button>
    </form>
    <button onclick=picture()>view colourised</button>
    <button>hologram</button>

</html>